@mixin btn {
    .btn{
        width: 200px;
        background-color: $color-secondary;
        border: none;
        height: 40px;
        border-radius: 10px;
        transition-duration: 0.3s;
        &:hover{
            width: 210px;
            height: 48px;
            cursor: pointer;
            opacity: 0.6;
            color: $color-white;
        }
    }
    
    
}


@mixin main--header{
    .main__header{
        display: flex;
        justify-content: space-between;
        padding-top: $padding-hight
    }
    .main__header--logo{
        padding-left: $padding ;
    }
    
    .main__header--callaction{
        padding-right: $padding-hight *5;
        padding-top: $padding-hight * 1.2;
        
    @media screen and (max-width: $break-small){
        &{
            padding-right: 0px;
        }
}
    }
    
   
}

@mixin header{
    header {
        display: flex;
        justify-content: flex-end;
        background-color: $color-primary;
        max-width: auto;
    }
    .header ul{
        display: flex;
        padding-right: $padding;
       }
       
       .header li{
           list-style: none;
           padding-left: $padding-hight * 2;
       }
       
       .header i{
           font-size: 30px;
           cursor: pointer;
       }

}

@mixin footer {
    

.barra{
    background-color: $color-secondary;
    height: 40px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-gray-dark;
    text-align: center;
    height: 40px;
}
}

@mixin contact {
    .contacto{
        background-color: $color-gray-light;
        display: flex;
        margin-top: $padding-hight *2;
    }
    
    .item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $padding-hight;
    }
    
    .item img {
        width: 180px;
    }
    
    .item__description{
        display: flex;
        flex-direction: column;
        padding: $padding-medium *2;
    }
    
    
}


