// VARIABLES AND MIXINS
@import"../mixins";
@import"../variables";
@import"../normalize";



@import"components/header";
@import"components/new";
@import"components/contact";
@import"components/footer";


.main__image{
    padding: $padding-hight;
}
.main__image img {
    width: 100%;

}

body{
    margin: 0px;
}