.main{
    height: 562px;
    max-width: 100%;
 
}

@include main__header;



.main__main{
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (max-width: $break-small){
        & {
            padding-top: $padding-hight * 2;
            margin-bottom: $padding-hight;
            }
        }
}

.main__main p {
    font-size: $font-base-size *2;
    @media screen and (max-width: $break-small){
        & {
            font-size: $font-base-size;
            }
        }
   }


@include btn;
