.main{
    height: 562px;
    max-width: 100%;
 
}

@include main__header;



.main__main{
    color: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main__main p {
    font-size: $font-base-size *2;
}

@include btn;
