.principal{
background-color: $color-gray-light;
@media screen and (max-width: $break-small){
    & {
        display: flex;
        flex-direction: column;
        }
    }
}


.principal__titulo {
    padding: $padding-hight;
}

.principal__main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-hight;
    @media screen and (max-width: $break-small){
        & {
            display: flex;
            flex-direction: column;
            }
        }
}
.principal__main img{
    width: 45%;
    @media screen and (max-width: $break-small){
        & {
           width: 80%;
            }
        }
}

.principal__main--description{
    padding-left: $padding-hight;
}