.contacto{
    background-color: $color-gray-light;
    display: flex;
    margin-top: $padding-hight *2;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $padding-hight;
}

.item img {
    width: 180px;
}

.item__description{
    display: flex;
    flex-direction: column;
    padding: $padding-medium *2;
}

