.proyectos{
    padding-top: $padding-hight *2;
    @media screen and (max-width: $break-small){
        &{
            display: flex;
            flex-direction: column;
        }
}
}

.proyectos__title{
    text-align: center;
}

.proyectos__description{
    display: flex;
    @media screen and (max-width: $break-small){
        &{
            display: flex;
            flex-direction: column;
        }
}
}
.proyecto{
    text-align: center;

}